{{#section 'css'}}
    <link rel="stylesheet" href="{{basePath}}/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="{{basePath}}/dist/css/main.css">
{{/section}}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    {{!-- {{error}} --}}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class=" row">
                <div class="container">
                    <div class="col-md-12">


                        <div class="card card-info">
                            <div class="card-header">

                                <h2 class="card-title">Email</h2>
                                <br />
                                <p>Enter email with proper validations.</p>

                            </div>
                            <div class="card-body">
                                <form id="email" method="post" action="/field-structure">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Name <span class="ip-req">*</span></label>
                                                <input style="display: none;" type="text" name="collection_name"
                                                    value={{collection_name}}>
                                                <input type="text" value="email" style="display:none"
                                                    name="field_type" />
                                                <input type="text" class="form-control" name="field_name"
                                                    placeholder="Please enter Email Field Name" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> DataBase field name </label>

                                                <input type="text" class="form-control" name="db_name"
                                                    placeholder="Please enter the field name of database" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Required Field </label>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio"
                                                                id="customRadio11" name="required" value="0" checked>
                                                            <label for="customRadio11"
                                                                class="custom-control-label">No</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio"
                                                                id="customRadio22" name="required" value="1">
                                                            <label for="customRadio22"
                                                                class="custom-control-label">Yes</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Unique Field </label>
                                                <div class="row mt-2">
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio"
                                                                id="customRadio1" name="unique" value="0" checked>
                                                            <label for="customRadio1"
                                                                class="custom-control-label">No</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="custom-control custom-radio">
                                                            <input class="custom-control-input" type="radio"
                                                                id="customRadio2" name="unique" value="1">
                                                            <label for="customRadio2"
                                                                class="custom-control-label">Yes</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mt-5">
                                        <button type="submit" class="btn btn-info btn-block"
                                            id="btn-submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{!-- </div> --}}
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{{#section 'script'}}
    {{!-- <script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script> --}}
    <script src="{{basePath}}/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="{{basePath}}/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="{{basePath}}/plugins/select2/js/select2.full.min.js"></script>
    <script>

    </script>
{{/section}}
{{!-- let token=document.getElementById("token")
let tokenvalue=localStorage.getItem('USER_TOKEN')
console.log("tokenvalue",tokenvalue)
token.value=tokenvalue --}}
{{!-- </script> --}}