{{#section 'css'}}
    <link rel="stylesheet" href="{{basePath}}/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="{{basePath}}/dist/css/main.css">
{{/section}}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    {{!-- {{error}} --}}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="col-md-12">


                        <div class="card card-info">
                            <div class="card-header">

                                <h2 class="card-title">Radio Buttons</h2>
                                <br />
                                <p>Enter radio button with proper validations.</p>

                            </div>
                            <div class="card-body">
                                <form id="radio" method="post" action="/field-structure">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Name <span class="ip-req">*</span></label>
                                                <span class=" ip-req required " id="field_name"
                                                    style="display: none;"></span>
                                                <input style="display: none;" type="text" class="collection_name"
                                                    name="collection_name" value={{collection_name}}>
                                                <input type="text" value="radio" style="display:none"
                                                    name="field_type" />
                                                <input type="text" value="{{data.first_name}}"
                                                    class="form-control field_name" name="field_name"
                                                    placeholder="Please enter the name for the radio button" />
                                                <div class="form-group">
                                                    <label>Key and value of the radio options</label>
                                                    <textarea class="form-control" id="textarea" rows="3"
                                                        name="field_value"
                                                        placeholder="Name and value of radio.Format to enter data is in [key:value] form"></textarea>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group mt-5">
                                        <button type="submit" class="btn btn-info btn-block"
                                            id="btn-submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{!-- </div> --}}
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{{#section 'script'}}
    {{!-- <script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script> --}}
    <script src="{{basePath}}/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="{{basePath}}/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="{{basePath}}/plugins/select2/js/select2.full.min.js"></script>
    <script>

    </script>
{{/section}}
{{!-- let token=document.getElementById("token")
let tokenvalue=localStorage.getItem('USER_TOKEN')
console.log("tokenvalue",tokenvalue)
token.value=tokenvalue --}}
{{!-- </script> --}}