<div class="form-group">
    <label>{{data.field_name}}
        {{#if (equal data.required '1')}}
            <span class="ip-req">*</span>
            <span class=" ip-req required {{data.db_name}}" style="display: none;"></span>
        {{else}}
            <span class=" ip-req {{data.db_name}}" style="display: none;"></span>
        {{/if}}


    </label>

    {{#if (equal data.select_type '1')}}
        <span style="display: none;"
            class="{{data.collection_selected}},{{data.field_selected}}">{{particularField filingdata data.db_name}}</span>
        <select class="dynamicSelect" name="{{data.db_name}}" id="{{data.collection_selected}},{{data.field_selected}}"
            multiple="multiple" value="[]" style="width: 100%;" data-placeholder="Select a Dynamic State">

        </select>
    {{else}}
        <span style="display: none;"
            class="{{data.collection_selected}},{{data.field_selected}},single">{{particularField filingdata data.db_name}}</span>
        <div class="form-group">
            <select class="form-control dynamicSingleSelect" name="{{data.db_name}}" allowClear="true"
                id="{{data.collection_selected}},{{data.field_selected}}">

            </select>
        </div>

    {{/if}}



</div>