<div class="form-group">
    <label>{{data.field_name}}</label>
    <input style="display: none;" class="{{data.collection_selected}},{{data.field_selected}}"
        value="{{particularField filingdata data.field_name}}"></input>
    <select class="dynamicSelect" name="{{data.field_name}}" id="{{data.collection_selected}},{{data.field_selected}}"
        multiple="multiple" value="" style="width: 100%;" data-placeholder="Select a Dynamic State">

    </select>
</div>