<div>
    <div class="form-group">
        <label>{{data.field_name}}
            {{#if (equal data.required '1')}}
                <span class="ip-req">*</span>
                <span class=" ip-req required {{data.db_name}}" style="display: none;"></span>
            {{else}}
                <span class=" ip-req {{data.db_name}}" style="display: none;"></span>
            {{/if}}


        </label>
        <br />


        {{#if (equal data.text_type '0') }}
            <input class="text" minlength="{{minMaxLength data.minLength}}" maxlength="{{minMaxLength data.maxLength}}"
                id="{{data.db_name}}" type="text" placeholder="Enter Text value"
                value="{{particularField filingdata data.db_name}}" class="form-control" name={{data.db_name}} />
        {{else}}
            <textarea class="text" id="{{data.db_name}}" minlength="{{minMaxLength data.minLength}}"
                maxlength="{{minMaxLength data.maxLength}}" placeholder="Enter long format text here" rows="3"
                cols="150" name="{{data.db_name}}"
                value="{{particularField filingdata data.db_name}}">{{particularField filingdata data.db_name}}</textarea>
        {{/if}}
    </div>
</div>