{{#section 'css'}}
<link rel="stylesheet" href="../plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<link rel="stylesheet" href="../plugins/select2/css/select2.css">
{{/section}}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Create User</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active"><a href="/users">List Users</a></li>
            <li class="breadcrumb-item active">Create User</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
{{!-- {{error}} --}}

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
            {{# if errors }}
            {{# each errors }}
            <p class="alert alert-danger">{{ this.msg }}</p>
            {{/each}}
            {{/if}}
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Enter User Details</h3>
              </div>
              <div class="card-body">
                <form id="newUser" method="post" action="/users">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>First Name</label>
                        {{!-- {{log data}} --}}
                        {{log error "error"}}
                        {{log data "data"}}
                        {{log response "response"}}
                        <input type="text" value="{{data.first_name}}" class="form-control" name="first_name" placeholder="Enter First Name"/>                        
                        {{#if error.first_name}}
                          <span class="error invalid-feedback" style="display:block">Please enter First Name</span>
                        {{/if}} 
                      </div>
                    </div>
                    <div class="col-md-6">                      
                      <div class="form-group">
                        <label>Last Name</label>
                        {{!-- {{log data}} --}}
                        {{log error "error"}}
                        {{log data "data"}}
                        {{log response "response"}}
                        <input type="text" placeholder="Enter Last Name" value="{{data.last_name}}" class="form-control" name="last_name" />
                        {{#if error.last_name}}
                          <span class="error invalid-feedback" style="display:block">Please enter Last Name</span>
                        {{/if}}                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Enter Email Address" id="email" value="{{data.email}}" class="form-control" name="email" />                  
                         {{#if error.email}}
                          <span class="error invalid-feedback" style="display:block">Please enter Email</span>
                        {{/if}}   
                      </div>
                    </div>
                    <div class="col-md-6">  
                      <div class="form-group">
                        <label>Username</label>
                        {{!-- {{log data}} --}}
                        {{log error "error"}}
                        {{log data "data"}}
                        {{log response "response"}}
                        <input type="text" placeholder="Enter Username" value="{{data.username}}" class="form-control" name="username" />
                        {{#if error.username}}
                          <span class="error invalid-feedback" style="display:block">Please enter Username</span>
                        {{/if}}   
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">                      
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" id="password" placeholder="Enter Password" value="{{data.password}}" class="form-control" name="password" />
                        {{#if error.password}}
                          <span class="error invalid-feedback" style="display:block">Please enter password</span>
                        {{/if}}
                      </div>
                    </div>
                    <div class="col-md-6">                        
                      <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" placeholder="Confirm your Password" value="{{data.confirm_password}}" class="form-control" name="confirm_password" />
                        {{#if error.confirm_password}}
                          <span class="error invalid-feedback" style="display:block">Please enter confirm password</span>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6"> 
                      <div class="form-group">
                        <label>Site</label>
                        <select class="form-control" name="site_id">
                          <option value="0">Select Site</option>
                          <option value="1">Cosmo</option>
                          <option value="2">Harper Bazaar</option>
                        </select>
                         {{#if error.site_id}}
                          <span class="error invalid-feedback" style="display:block">Please enter Site Id</span>
                        {{/if}}
                      </div>
                    </div>
                    <div class="col-12 col-md-6">                        
                      <div class="form-group">
                        <label>Role</label>
                        <select class="select2" name="role_id" id="role_id" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                          <option value="1">Site Admin</option>
                          <option value="2">Editor</option>
                          <option value="3">Subeditor/Sr.Sub Editor</option>
                          <option value="4">Intern</option>
                          <option value="5">Seo</option>
                          <option value="6">App Manager</option>
                          <option value="7">Syndication</option>
                          <option value="8">Profile Manager</option>
                          <option value="9">Topic Manager</option>
                          <option value="10">Ads Manager</option>
                          <option value="11">Author/Guest</option>
                          <option value="12">Copy Desk</option>
                          <option value="13">Copy Editor</option>
                          <option value="14">Correspondent</option>
                          <option value="15">Co-ordinator</option>
                          <option value="16">Designer</option>
                          <option value="17">Design Head</option>
                          <option value="18">Expert</option>
                          <option value="19">Knowledge Centre</option>
                          <option value="20">Marketing Manager</option>
                          <option value="21">News Presso</option>
                          <option value="22">Photo Coordinator</option>
                          <option value="23">Photo Head</option>
                          <option value="24">Section Editor/Anchor</option>
                          <option value="25">Senior Editor</option>
                          <option value="26">Social Media</option>
                          <option value="27">Video Editor</option>
                          <option value="28">Developer</option>
                        </select>
                        {{error.role_id}}
                      </div>
                    </div>
                  </div>
                 <div class="row">
                    <div class="col-md-6">  
                      <div class="form-group">
                        <label>Status</label>
                        <div class="row mt-2">
                          <div class="col-md-6">                           
                            <div class="custom-control custom-radio">
                              <input class="custom-control-input" type="radio" id="customRadio1" name="status">
                              <label for="customRadio1" class="custom-control-label">Active</label>
                            </div> 
                          </div>
                          <div class="col-md-6">                           
                            <div class="custom-control custom-radio">
                              <input class="custom-control-input" type="radio" id="customRadio2" name="status" checked>
                              <label for="customRadio2" class="custom-control-label">In-Active</label>
                            </div>
                          </div>  
                        </div>                      
                        {{error.status}}
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-5">
                    <button type="submit" class="btn btn-info btn-block" id="btn-submit">Submit</button>
                  </div>
                </form>
              </div>
             </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../plugins/jquery-validation/jquery.validate.min.js"></script>  
<script src="../plugins/jquery-validation/additional-methods.min.js"></script>
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<script>
    
$(function () {
  $('.select2').select2()
  $.validator.setDefaults({
    submitHandler: function (e) {
      e.preventDefault();
      $("btn-submit").text("Creating User")
      $( "#newUser" ).submit();
     
    }
  });
  $.validator.addMethod("matchRegex", function(value, element){
    if ( /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/.test(value)) {
        return true;
    } else {
        return false;
    };
  }, "Password must have 1 special character"); 
  $('#newUser').validate({
     rules: {
      email: {
        required: true,
        email: true,
      },
      password: {
        required: true,
        minlength: 8,
        matchRegex:true
      },
      confirm_password: {
        required: true,
        minlength: 8,        
        equalTo: "#password"
      },
      first_name: {
        required: true
      },
      last_name: {
        required: true
      },
      username: {
        required: true
      },
      role_id: {
        required: true
      },
      status: {
        required: true
      },
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a valid email address"
      },
      password: {
        required: "Please enter password",
        minlength: "Your password must be at least 8 characters long"
      },
      confirm_password: {
        required: "Please enter confirm password",
        minlength: "Your password must be at least 8 characters long",
        equalTo: "Passwords don't match"
      },
      first_name: {
        required: "Please enter a First Name"
      },
      last_name: {
        required: "Please enter a Last Name"
      },
      username: {
        required: "Please enter a User Name"
      },
      role_id: {
        required: "Please select Role Id"
      },
      status: {
        required: "Please select status"
      },
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  })
})
</script>