{{#section 'css'}}
    <link rel="stylesheet" href="{{basePath}}/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="{{basePath}}/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="{{basePath}}/dist/css/main.css">
{{/section}}
{{header/mainHeader}}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Builder Collections Listing</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item active"><a href="/collection-builder/new">Add New</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <input class="dynamicSelectalldata" style="display: none;" value={{ json alldata}}></input>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Listed Collections</h3>
                        </div>
                        <!-- /.card-header -->
                        {{#if success }}
                            <p class="alert alert-success">Data inserted successfully!</p>
                        {{/if}}
                        <div style="position:static;">
                            <ul>

                                <li><a href="/field-structure/addField/text/{{collection_name}}">Text</a></li>
                                <li><a href="/field-structure/addField/radio/{{collection_name}}">Radio</a></li>
                                <li><a href="/field-structure/addField/email/{{collection_name}}">Email</a></li>
                                <li><a href="/field-structure/addField/date/{{collection_name}}">Date</a></li>
                                <li><a href="/field-structure/addField/staticSelect/{{collection_name}}">Static
                                        Select</a></li>
                                <li><a href="/field-structure/addField/dynamicSelect/{{collection_name}}">Dynamic
                                        Select</a></li>

                            </ul>
                        </div>

                        <div class="card-body partialRendered">
                            {{>(dynamicPartial 'builderCollection' select_field) collection_name=collection_name }}


                        </div>

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{{#section 'script'}}
    <!-- DataTables  & Plugins -->
    <script src="{{basePath}}/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="{{basePath}}/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="{{basePath}}/plugins/select2/js/select2.full.min.js"></script>
    <script src="{{basePath}}/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{basePath}}/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{basePath}}/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="{{basePath}}/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="{{basePath}}/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{{basePath}}/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="{{basePath}}/plugins/jszip/jszip.min.js"></script>
    <script src="{{basePath}}/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="{{basePath}}/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="{{basePath}}/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="{{basePath}}/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="{{basePath}}/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $( 'form' ).submit( function ( e )
        {
            let submit = 0
            e.preventDefault()
            let fieldname = $( '.field_name' ).val()
            let collectionname = $( '.collection_name' ).val()
            if ( fieldname.length === 0 )
            {
                submit += 1
                $( '#field_name' ).text( 'Field name cannot be empty.' )
                $( '#field_name' ).removeAttr( 'style' );
                return
            } else
            {
                $( '#field_name' ).text( '' )
            }


            $.ajax( {
                type: 'POST',
                url: "/field-structure/uniqueField",
                async: false,
                data: {
                    data: JSON.stringify( {
                        collection_name: collectionname, field_value: fieldname
                    } )
                },

                success: function ( data )
                {
                    if ( !data )
                    {
                        submit += 1
                        $( '#field_name' ).text( 'Field name alread exists!.' )
                        $( '#field_name' ).removeAttr( 'style' );
                        return
                    } else
                    {
                        $( '#field_name' ).text( '' )
                    }
                }
            } );

            if ( submit === 0 )
            {
                e.currentTarget.submit()
            }
        } )

        $( document ).ready( function ()
        {
            $( ".selectField" ).select2()
            $( "#collection_selected" ).change( function ()
            {
                var val = $( this ).val();

                let alldata = $( '.dynamicSelectalldata' ).val()
                while ( alldata.includes( '/' ) )
                {
                    alldata = alldata.replace( '/', ' ' )
                }
                alldata = JSON.parse( alldata )
                let a = ""
                $.each( alldata, function ( index, data )
                {

                    if ( data[ "collection_name" ] === val )
                    {
                        let fields = data[ "field_name" ]
                        let db_data = data[ "db_name" ]
                        a += `<option disabled selected hidden>Please select field from here..
                                            </option>`
                        $.each( fields, function ( ind, fieldData, )
                        {
                            a += `<option value=${ db_data[ ind ] }>${ fieldData }</option>`
                        } )
                    }
                } )
                $( "#field_selected" ).html( a );
            } );
        } );
        $( function ()
        {
            $( "#userListing" ).DataTable( {
                "responsive": true, "lengthChange": true, "autoWidth": false,
                //"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            } )
            //.buttons().container().appendTo('#userListing_wrapper .col-md-6:eq(0)');

        } );
        $.ajax( {
            type: 'GET',
            url: "/field-structure/allCollections",
            success: function ( data )
            {
                if ( data.status === "200" )
                {

                }
            }
        } );

    </script>
{{/section}}